.page-section__latest-project {
  padding: 60px 0;
  text-align: center;

  h5 {
    font-weight: 400;
    margin-top: 0;
  }

  .project-screenshot {
    width: 100%;
    margin-bottom: 15px;
  }

  .image-link {
    border-bottom: none;
  }
}