@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

@import "./_variables";
@import "./_call-to-action-button";

* {
  font-family: 'Bitter', serif;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 22px;
  color: #444;
  background-color: #fcfcfc;
}

.btn {
  white-space: normal;
}

section {
  border-top: 1px solid #eee;

  h4 {
    line-height: 1.3em;
    color: #444;
    font-size: $section-header-font-size;
    font-weight: normal;
    margin: 0px 0px 40px 0;
  }

  h5 {
    line-height: 1.3em;
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 40px 0px 40px 0;
  }

  a {
    color: $link-color;
    margin-top: 20px;
    border-bottom: 1px dotted $link-color;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color;
      outline: none;
      text-decoration: none;
      border-bottom: none;
    }

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}

@import "./_introduction";
@import "./_book";
@import "./_latest-project";
@import "./_teaching";
@import "./_feedback";
@import "./_footer";